* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 0 5px;
  box-sizing: border-box;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
}

.fz_10 {
  font-size: 10px;
}

.fz_12 {
  font-size: 12px;
}

.fz_14 {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

.btn {
  padding: 5px 20px;
}
